fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
passlib[bcrypt]
PyJWT
python-dotenv
pandas
PyPDF2
chromadb
llama-index
llama-index-vector-stores-chroma
llama-index-embeddings-huggingface
llama-index-llms-openai
transformers
torch
sentence-transformers
streamlit
requests
pydantic
typing-extensions
